/*** Works on common browsers ***/
::selection {
  background-color: #cccccc;
  color: #888888;
}

/*** Mozilla based browsers ***/
::-moz-selection {
  background-color: #cccccc;
  color: #888888;
}

/***For Other Browsers ***/
::-o-selection {
  background-color: #cccccc;
  color: #888888;
}

::-ms-selection {
  background-color: #cccccc;
  color: #888888;
}

/*** For Webkit ***/
::-webkit-selection {
  background-color: #cccccc;
  color: #888888;
}
